# unity ignore dir
/[Bb]in/
/[Ll]ibrary/
/[Ll]ibrary/[Mm]etadata/
/[Tt]emp/
/[Oo]bj/

# unity ignore file
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.meta
*.tmp

# need include the meta of file
!*.*.meta